.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  border-bottom: 0.5px solid #D9D9D9;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 20px;
}

.link  {
  text-decoration: none;
  color: rgb(223, 223, 223);
  padding: 6px 16px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  font-family: Inter;
  transition: background 0.2s, color 0.2s;
}

.link:hover { color: var(--text-h); }

.active {
  background: rgb(223, 223, 223);
  color: rgb(24, 24, 24);
  box-shadow: white;
}