.container {
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 24px;
  border-color: #D9D9D9;
}

.container h2 {
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat;
  margin: 0 0 24px;
  color: #2A2B2A;
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
    border-radius: 8px;
  }

  .container h2 {
    font-size: 16px;
    margin: 0 0 16px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 12px;
  }

  .container h2 {
    font-size: 15px;
  }
}
